.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.heroes li {
    display: flex;
}

.heroes button {
    border: none;
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
}

.heroes button:hover {
    background-color: #72dfd4;
    left: .1em;
}

.heroes button:active {
    background-color: #118074;
    color: #fafafa;
}

.heroes button.selected {
    background-color: #40e0d0;
}

.heroes button.selected:active {
    background-color: #0b544d;
    color: white;
  }

.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.heroes .name {
    align-self: center;
}